#practica-flex {
    width: 100%;
    border: 2px solid red;
    height: 500px;
}

#wrap-flex {
    width: 65%;
    display: inline-flex;
    flex-flow: wrap row;
    border: 2px solid rgb(0, 194, 136);
    height: inherit;
}

.flex-title {
    width: 100px;
    height: 50px;
    background-color: palevioletred ;
    border: 2px dashed palegoldenrod;
    padding: 5px;
    margin: 5px;
}


mycolors {
    background-color: #1b1b1b;
    color: #3491bd;
    border-color: #4C4C4C;
    color: rgb(172, 172, 172);
    color: #dddddd;
}

body {
    font-size: 16px;
    font-family:  'Titillium Web', sans-serif;
    display: inline-flex;
    flex-flow: wrap column;
    align-content: center;
    width: 100%;
    margin: 0px;
}

header a {
    color: white;
    text-decoration: none;
}
main h1 {
    font-size: 2.0em;
    color: #ffffff;
}

main h3 {
    font-size: 1.25em;
    color: #ffffff;
}

h2,h3,h4,h5,h6 {
    text-align: center;

}

p {
    text-align: center;
}

.p-subtitle {
    width: 80%;
    text-align: center;
    margin: auto;
}

.slideshow-text strong{
    color: #0093D7;
    font-size: 2.0em;
    font-weight: 700;
}

.h2text {
    margin-top: 0px;
    padding-top: 40px;
    text-decoration-color: #1b1b1b;
    width: 100%;
}

.contentarea {
    height: auto;
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    width: 100%;
}


/*This is the Info & Social Header Section = contactinfo + socialinfo*/
.main-social {
    background-color: #dddddd;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sub-social {
    background-color: #ffffff;
    width: 65%;
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

.address {
    display: inline-flex;
    flex-flow: nowrap row;
    justify-content: start;
    align-items: center;
    width: 20%;
    padding: 10px 20px;
}

.address address {
    font-style: normal;
}

.email {
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    padding: 10px 20px;
}

.phone {
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    padding: 10px 20px;
}

.socialiconsarea{
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    width: 20%;
    padding: 10px 20px;
}

.socialiconsarea img {
    width: auto;
    height: 20px;
    color: #1b1b1b;
}


/*This is the Main Header Section = logo + menu*/
.main-header {
    background-color: #dddddd;
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: center;
    width: 100%;
}

/* .sub-header{
    position: fixed;
} */

.sub-header {
    background-color: #1b1b1b;
    width: 65%;
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #2C2C2C;
    z-index: 1;
}

.logo-menu {
    vertical-align: middle;
    width: 15%;
}

.header-logo {
    width: 125px;
    height: auto;
    padding-left: 10px;
}

.navigation {
    width: 65%;
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    padding: 15px;
}

nav :hover{
    text-decoration: underline #3491bd;
}

nav ul {
    padding: 0px;
    margin: 0px;
}

/*This is the Slideshow Section  = background + texto*/
.main-slideshow {
    height: auto;
    width: 100%;
    display: inline-flex;
    flex-flow: column;
    justify-content: right;
    background-color: #dddddd;
}

.sub-slideshow {
    background-image: url(/images/slideshowbanner/working\ in\ coding.jpg);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position-x: center;
}

.slideshow-text {
    padding: 75px;
    text-align: center;
}

.slideshow-text h1 {
    color: white;
}

.buttons {
    width: 200px;
    height: 30px;
    background-color: #4C4C4C;
    color: white;
    border-radius: 5px;
    border: none;
    align-items: center;
}


/*This is the skills Section = logos + text*/
#main-skills {
    width: 100%;
    background-color: #dddddd;
    display: inline-flex;
    flex-flow: wrap column;
    align-content: center;
}

#sub-skills {
    background-color: #0093D7;
    width: 65%;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    padding-bottom: 50px;
}

#skills-boxes{
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: center;
}

.skill-box {
    background-color: #CCCCCC;
    text-align: center;
    width: 250px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border-bottom-color: #4C4C4C;
    border-style: solid;
    border-left-color: #CCCCCC;
    border-top-color: #CCCCCC;
    border-right-color: #4C4C4C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skill-image {
    width: auto;
    height: 100px;
}


/*This is the About Section  = text + image*/
#main-about {
    background-color: #dddddd;
    width: 100%;
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: center;
}

#sub-about {
    background-color: rgb(255, 255, 255);
    width: 65%;
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-around;
}

#about-wrap {
    display: inline-flex;
    flex-flow: wrap row;
    width: 30%;
    padding: 50px;
    box-sizing: content-box;
    vertical-align: middle;
}

#about-image {
    display: inline-flex;
    flex-flow: wrap;
    border-radius: 10px;
    border-bottom-color: #4C4C4C;
    border-style: solid;
    border-left-color: #0093D7;
    border-top-color: #0093D7;
    border-right-color: #4C4C4C;
}

#about-section {
    width: 500px;
    padding: 20px;

}

#about-section h2, h3, h4, p, li {
    color: #2C2C2C;
}
/*This is My Tools Section = tools + tecnologies + text*/
#main-tools {
    background-color: #dddddd;
    width: 100%;
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
}

#sub-tools {
    background-color: #CCCCCC;
    width: 65%;  
    padding-top: 50px;
    padding-bottom: 100px;
}

#text-tools {
    padding: 20px;
}

#tools-images {
    width: 100%;
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px; 
}

.tool-image {
    width: auto;
    height: 50px;
    margin: 10px;
    padding: 10px;
}

/*This is the Last Works Section = text*/
.main-works {
    background-color: #dddddd;
    width: 100%;
    display: inline-flex;
    flex-flow: wrap column;
    align-items: center;
}

.sub-works {
    width: 65%;
    background-color: #FFF;
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    padding-bottom: 60px;
}

.work-header {
    padding: 20px;
    color: #2C2C2C;
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
}

.work-areas {
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
}

.article-areas {
    background-color: #CCCCCC;
    border: solid 3px #8C8C8C;
    height: auto;
    margin: 20px;
    width: 250px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article-image-wrap {
    width: 250%;
    height: auto;
    object-fit: fill;
}

.article-image {
    width: auto;
    height: 250px;
    background-color: #CCCCCC;
}

.article-description {
    background-color: white;
    margin-top: -80px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: .8;
    border-radius: 10px;
}

.description {
    background-color: #CCCCCC;
}

/*This is the Email Section = text and email form*/

.main-email {
    width: 100%;
    display: inline-flex;
    flex-flow: wrap column;
    align-content: center;
    background-color: #dddddd;
}

.sub-email {
    width: 65%;
    display: inline-flex;
    flex-flow: nowrap column;
    align-content: center;
    background-image: url(/images/slideshowbanner/3.jpg);
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    image-resolution: 150;
    opacity: 0.8;
    padding-bottom: 50px;
    padding-top: 50px;
    height: 400px;
    /* filter: blur(4px); */
}

.sub-email p {
    padding: 20px;
    color: black;
    font-size: x-large;
    margin: auto;
    width: 80%;
}

.input-email {
    width: 90%;
    border: none;
    height: 30px;
}

.input-email-callme {
    width: 40%;
    height: 40px;
    margin: auto;
    background-color: #ffffff;
    color: white;
    border-radius: 5px;
    border: none;
    display: inline-flex;
    flex-flow: nowrap;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

.boton {
    width: 10%;
    height: 30px;
    background-color: #4C4C4C;
    color: white;
    border-radius: 5px;
    border: none;
    align-items: center;
}

.email-form {
    text-align: center;
}
/*This is the Footer Section = text + conctact info + social icons*/
.main-footer {
    color: white;
    background-color: #dddddd;
    text-align: center;
    width: 100%;
    display: inline-flex;
    flex-flow: wrap column;
    align-content: center;
}

.sub-footer {
    background-color: #0093d7;
    width: 65%;
    display: inline-flex;
    flex-flow: wrap row;
    align-content: center;
}

.footer-info {
    color: white;
    text-decoration: none;
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    height: 60px;
}

.footer-info img{
    color: white;
    padding: 5px 10px;
}

.footer-address {
    text-align: center;
    display: inline-flex;
    flex-flow: wrap row;
    align-content: space-around;
}

.footer-email {
    text-align: center;
    display: inline-flex;
    flex-flow: wrap row;
    align-content: space-around;
}

.footer-phone {
    text-align: center;
    display: inline-flex;
    flex-flow: wrap row;
    align-content: space-around;
}

.footer-socialiconsarea {
    text-align: center;
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-content: center;
}

.footer-socialiconsarea img{
    width: 25px;
    height: auto;
    padding: 5px;
}

.footer-link {
    background-color: #4C4C4C;
    width: 100%;
    display: inline-block;
    font-style: oblique;
}

.main-footer a {
    color: white;
    text-decoration: none;
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

.footer-images {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}